<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUYHrPwT9TV-qVIXItpbefn6iEIyEkRuM</string>
	<key>GCM_SENDER_ID</key>
	<string>129786538008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleanArchitectureDigitalMarketplace</string>
	<key>PROJECT_ID</key>
	<string>digital-marketplace-22733</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-marketplace-22733.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129786538008:ios:9c4a3cea28d8145d70fb6d</string>
</dict>
</plist>